@font-face {
  font-family: "Aldrin";
  src: url(../fa51665dfe0d3ccd6607.eot),
    url(../cdc859e18f7068007a10.woff) format("woff"),
    url(../19c7ca960bebed7d2c8f.ttf) format("truetype");
  font-weight: normal;
  font-style: normal;
  font-display: auto;
}

@font-face {
  font-family: "Aldrin";
  src: url(../db030f014631d5f16b55.eot),
       url(../ee78871d707f19d3d61d.woff) format("woff"),
       url(../3626d169405f923e7092.ttf) format("truetype");
  font-weight: 500;
  font-style: normal;
  font-display: auto;
}

@font-face {
  font-family: "Aldrin";
  src: url(../b264bce371dc4d3c6df4.eot),
       url(../f99e8f789b027e2cd9ab.ttf) format("truetype");
  font-weight: 700;
  font-style: normal;
  font-display: auto;
}

@font-face {
  font-family: "Aldrin";
  src: url(../a51552165ca119d79e02.woff) format("woff"),
       url(../fe87f193d44895cc973a.ttf) format("truetype");
  font-weight: 300;
  font-style: normal;
  font-display: auto;
}

* {
  padding: 0;
  margin: 0;
  border: none;
  font-family: Aldrin, sans-serif;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

ul, ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

img, svg {
  max-width: 100%;
  height: auto;
}

/* Form */

input, textarea, button, select {
  font-family: inherit;
  font-size: inherit;
  color: inherit;
  background-color: transparent;
}

input::-ms-clear {
  display: none;
}

button, input[type="submit"] {
  display: inline-block;
  box-shadow: none;
  background: none;
  cursor: pointer;
}

input:focus, input:active,
button:focus, button:active {
  outline: none;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

label {
  cursor: pointer;
}

legend {
  display: block;
}
